In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [15]:
class DataFrame:
       
    def comic(self):
        global ComicList
        if True:
            try:
                ComicList=pd.DataFrame(
                    {
                        'nombre': ['alfonso','carlos','bea','luis','jesus','maria','ricardo','monica','cristina','celia','juan','sofia','manuel','emilio'],
                        'edad': ['22','26','30','22','27','30','26','24','30','22','26','24','27','22'],
                        'categoria': ['marvel','DC','europeo','independiente','independiente','europeo','marvel','DC','DC','marvel','europeo','independiente','marvel','marvel']
                    }, columns=['nombre','edad','categoria']
                )

                print (ComicList)
            except ValueError:
                print('no se ha podido crear el dataframe correctamente')

In [16]:
datos = DataFrame()
datos.comic()

      nombre edad      categoria
0    alfonso   22         marvel
1     carlos   26             DC
2        bea   30        europeo
3       luis   22  independiente
4      jesus   27  independiente
5      maria   30        europeo
6    ricardo   26         marvel
7     monica   24             DC
8   cristina   30             DC
9      celia   22         marvel
10      juan   26        europeo
11     sofia   24  independiente
12    manuel   27         marvel
13    emilio   22         marvel